package templates

func toUppper(name string) string {
	firstChar := bytes.ToUpper([]byte{[]byte(name)[0]})
	return string(firstChar) + string(name[1:])
}

templ ArticleListPage(articles []string) {
	<section>
		<ol>
			for _, article := range articles {
				<li>
					<a style="width: 100%; display: block;" href={ templ.URL("/articles/" + article) }>
						<span>{ toUppper(article) }</span>
					</a>
				</li>
			}
		</ol>
	</section>
}
