package templates

templ Headings() {
	<span style="width: 100%; text-align: center; display: block; font-size: 24px; font-weight: 600;">BitwiseDev</span>
	<hr style="width: 100%;"/>
	<strong style="display: flex; width: 100%; justify-content: center; gap: 16px">
		<a href="/articles">Articles</a>
		<a href="/about">About me</a>
	</strong>
}
