package templates

templ IndexArticles(articles []templ.Component) {
	for _, article := range articles {
		@article
	}
}

templ Index() {
	<section>
		<h1>Recent articles:</h1>
	</section>
	<section hx-trigger="load" hx-get="/data/articles" hx-swap="innerHtml"></section>
}
