package templates

templ Wrapper(content templ.Component) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			<meta name="color-scheme" content="light dark"/>
			<script src="/public/htmx.min.js"></script>
			<link rel="stylesheet" href="/public/pico.css"/>
			<title>BitwiseDev</title>
		</head>
		<body>
			@Headings()
			<main>
				@content
			</main>
		</body>
	</html>
}
